.logo {
  display: flex;
  width: 8rem;
  height: 100px;
  text-decoration: none;
  align-items: center;
  transition: transform 0.2s ease;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
  }

  .cWithR {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    position: relative;

    .bigC {
      font-size: 100px;
      font-weight: 400;
      font-family: 'Raleway', sans-serif;
      font-optical-sizing: auto;
      color: black;
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      animation: rotateC 20s 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    }

    .smallR {
      font-size: 50px;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      color: black;
      position: absolute;
      top: 50%;
      left: 32%;
      transform: translate(-50%, -50%);
      animation: translateAndScale 20s 10s linear infinite;
    }
  }
}

// Animation pour la rotation du C toutes les 5s en 0,5s
@keyframes rotateC {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0.2;
  }
  8% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes translateAndScale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  3% {
    transform: translate(25%, -50%) scale(0.75);
  }
  6% {
    transform: translate(120%, -50%) scale(1.3);
  }
  9% {
    transform: translate(120%, -50%) scale(1.3);
  }
  12% {
    transform: translate(25%, -50%) scale(0.75);
  }
  15% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
