.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  min-height: calc(100vh - 132px); // 80px pour le header approximativement
  gap: 2rem;

  @media (max-width: 768px) {
    min-height: calc(
      100dvh - 96px
    ); // Ajustez selon la hauteur de votre header mobile
    padding: 1rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 3rem;
    width: 60%;
    flex: 1;
    justify-content: center;

    @media (max-width: 768px) {
      align-items: center;
      text-align: center;
      gap: 2rem;
      width: 90%;
    }

    h2 {
      font-size: clamp(50px, 10vw, 100px);
      margin: 0;
    }

    p {
      font-size: clamp(24px, 5vw, 45px);
      margin: 0;
    }

    .alternatingText {
      position: relative;
      display: inline-block;
      min-width: 200px;
      height: 1.2em; // Fixe la hauteur pour éviter les sauts
    }

    .alternatingText span {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      animation: textFade 4s infinite;
      font-weight: bold;
    }

    .alternatingText span:nth-child(2) {
      animation-delay: 2s;
    }

    @keyframes textFade {
      0%,
      45% {
        opacity: 1;
      }
      50%,
      100% {
        opacity: 0;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
  }
}
